// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th.sortable .current {
	padding-right: 12px;
	background-repeat: no-repeat;
	background-position: right center;
}

th.sortable .asc {
	background-image: url(/images/up_arrow.gif);
}

th.sortable .desc {
	background-image: url(/images/down_arrow.gif);
}